<div id="banner" class="banner-area banner-bg">
  <div class="h-table">
    <div class="h-table-cell">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
            <div class="banner-content content-padding">
              <h5 class="subtitle">To the moon and...</h5>
              <h1 class="banner-title">Beyond the limits</h1>
              <p>Space flights over a world</p>

              <a href="#service-head" class="btn btn-white btn-circled">lets start</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
