<section id="footer" class="section-padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-sm-8 col-md-8">
              <div class="footer-widget footer-link">
                  <h4>DreamSpace<br> beyond the limits of your imagination</h4>
                  <p>Our company provides new type of recreaton. We offer flights to other planets like Mercury, Venus and Mars.
                    We are new concern because we oficially started in 2022, however, we are also rapidly growing company.
                    In the future we would like to have possibility to flight on every planet in a solar system.
                  </p>
              </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-md-4">
              <div class="footer-widget footer-link">
                  <h4>Menu</h4>
                  <ul>
                      <li><a href="#intro">About</a></li>
                      <li><a href="#service">Offer</a></li>
                      <li><a href="#testimonial">Testimonials</a></li>
                      <li><a href="#blog">Blog</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-lg-2 col-sm-6 col-md-6">
              <div class="footer-widget footer-link">
                  <h4>Quick Links</h4>
                  <ul>
                      <li><a href="#contact">Support</a></li>
                      <li><a href="#" data-toggle="modal" data-target="#PrivacyPolicy">Privacy Policy</a></li>
                      <li><a href="#" data-toggle="modal" data-target="#Bug">Report Bug</a></li>
                      <li><a href="#" data-toggle="modal" data-target="#TermsCondition">Terms & Conditions</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6">
              <div class="footer-widget footer-text">
                  <h4>Our location</h4>
                  <p class="mail"><span>Mail:</span> support@dreamspace.com</p>
                  <p><span>Phone :</span>+2137-69-420</p>
                  <p><span>Location:</span> 71 Rock Street <br>
                  New York, NY 92103-9000 </p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="footer-copy">
                  © 2022 DreamSpace. All Rights Reserved.
              </div>
          </div>
      </div>
  </div>
</section>
