<section id="counter" class="section-padding bg-main">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-sm-6 col-md-6">
              <div class="counter-stat">
                  <span class="counter">462</span>
                  <h5>Our Happy Clients</h5>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6">
              <div class="counter-stat">
                  <span class="counter">60</span>
                  <h5>Organised Flights </h5>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6">
              <div class="counter-stat">
                  <span class="counter">50</span>
                  <h5>Experienced staff</h5>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6">
              <div class="counter-stat">
                  <span class="counter">12</span>
                  <h5>Ongoning Flights</h5>
              </div>
          </div>
      </div>
  </div>
</section>
