<section id="intro" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="section-heading">
          <p>Reasons why you should go on a trip with us</p>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-5 d-none d-lg-block col-sm-12 align-self-end">
        <div class="intro-img">
          <img src="https://i.imgur.com/URz8D0X.png" alt="intro-img" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="intro-box">
              <h4>Cheap</h4>
              <p>We are the cheapest flight trips company. You will not find anything more occasional. </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="intro-box">
              <h4>Exciting</h4>
              <p>There is no way that our trip would be boring. You will see something beyond of your mind. </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="intro-box">
              <h4>Innovative</h4>
              <p>We are in possession of the newest space rockets. You will be in the most comfortable rocket ever. </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="intro-box">
              <h4>Secure</h4>
              <p>Before departure, we check every detail and do everything we can to improve the sense of security. </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-cta">
              <p>Still have any question on mind ? <a href="#contact">Contact us</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
