<section id="service-head" class="bg-black">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-sm-12 m-auto">
              <div class="section-heading text-white">
                  <h4 class="section-title">Our offer of flights</h4>
                  <p>We would like to show you some of our upcoming flights. </p>
              </div>
          </div>
      </div>
  </div>
</section>

<div id="service" class="bg-black">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-sm-6 col-md-6">
              <div class="service-box">
                  <div class="service-img-icon"></div>
                  <div class="service-inner">
                      <h4>Mercury</h4>
                      <p>Mercury is the smallest planet in our solar system. It's a little bigger than Earth's Moon. Also it is the fastest planet in the solar system, speeding along at about 29 miles per second.</p>
                  </div>
                  <div class="service-price">
                    <h4>17999PLN  / 3 DAYS TRIP</h4>
                    <p>Upcoming flight: 24 jun 2022</p>
                  </div>
                  <div class="service-reserve">
                    <button type="button" class="btn btn-hero btn-circled" data-toggle="modal" data-target="#reservation">
                      Reservation
                    </button>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6">
              <div class="service-box ">
                  <div class="service-img-icon"></div>
                  <div class="service-inner">
                      <h4>Venus</h4>
                      <p>Venus is the second planet from the Sun and Earth's closest planetary neighbor. Even though Mercury is closer to the Sun, Venus is the hottest planet in our solar system.</p>
                  </div>
                  <div class="service-price">
                    <h4>12999PLN  / 3 DAYS TRIP</h4>
                    <p>Upcoming flight: 24 jun 2022</p>
                  </div>
                  <div class="service-reserve">
                    <button type="button" class="btn btn-hero btn-circled" data-toggle="modal" data-target="#reservation">
                      Reservation
                    </button>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6">
              <div class="service-box">
                  <div class="service-img-icon"></div>
                  <div class="service-inner">
                      <h4>Mars</h4>
                      <p>Mars is the fourth planet from the Sun – a dusty, cold, desert world with a very thin atmosphere. Mars is also a dynamic planet with seasons, polar ice caps, canyons and extinct volcanoes. </p>
                  </div>
                  <div class="service-price">
                    <h4>17999PLN  / 3 DAYS TRIP</h4>
                    <p>Upcoming flight: 24 jun 2022</p>
                  </div>
                  <div class="service-reserve">
                    <button type="button" class="btn btn-hero btn-circled" data-toggle="modal" data-target="#reservation">
                      Reservation
                    </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
