<section id="testimonial" class="section-padding ">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <div class="mb-5">
                  <h3 class="mb-2">Trusted by hundred</h3>
                  <p>Despite the fact that we do not exist for long, we have a lot of positive feedback. <br>
                  There are some of opinions about us.</p>
              </div>
          </div>
      </div>

      <div class="row text-center">
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
            <img src="https://i.imgur.com/FBvZRYZ.png"
              class="rounded-circle shadow-1-strong" width="150" height="150" />
          </div>
          <h5>Maria Smantha</h5>
          <h6 class="f-color">Mars Flight Attendant</h6>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2 f-color"></i> I love my job, it allows me to travel to fascinating places in the universe.
            Highly recommended!
          </p>

        </div>
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
            <img src="https://i.imgur.com/FBvZRYZ.png"
              class="rounded-circle shadow-1-strong" width="150" height="150" />
          </div>
          <h5>Lisa Cudrow</h5>
          <h6 class="f-color">Mars Flight Attendant</h6>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2 f-color"></i> I used to get bored on Earth all the time,
            now I’m travelling to Mars few times a year and my life has never been better.
          </p>
        </div>
        <div class="col-md-4 mb-0">
          <div class="d-flex justify-content-center mb-4">
            <img src="https://i.imgur.com/FBvZRYZ.png"
              class="rounded-circle shadow-1-strong" width="150" height="150" />
          </div>
          <h5>John Smith</h5>
          <h6 class="f-color">Mercury Flight Attendant</h6>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2 f-color"></i> I didn't think that trip can be so crazy.
            Everything was very planned and interesting. Recommended!
          </p>
        </div>
      </div>
      <div class="row mt-5">
          <div class="col-lg-12 col-sm-12 m-auto">
            <div class="section-heading text-white">
              <h4 class="section-title">Our partners</h4>
            </div>
         </div>
          <div class="col-lg-3 col-sm-6 col-md-3 text-center">
              <img src="https://i.imgur.com/Jv96YfM.png" alt="partner" class="client-img">
          </div>
          <div class="col-lg-3 col-sm-6 col-md-3 text-center">
              <img src="https://i.imgur.com/B2ZlMzP.png" alt="partner" class="client-img">
          </div>
          <div class="col-lg-3 col-sm-6 col-md-3 text-center">
               <img src="https://i.imgur.com/GD6jXA0.png" alt="partner" class="client-img">
          </div>
          <div class="col-lg-3 col-sm-6 col-md-3 text-center">
              <img src="https://i.imgur.com/K3gnR4c.png" alt="partner" class="client-img">
          </div>
      </div>
    </div>
</section>
