#blog {
  padding-bottom: 55px;
  background: url("../images/banner/bg-blog.jpg") 50% 50%;
  background-size: cover;
  color: #fff;
}

.blog-text {
  padding: 20px;
}

.blog-text .author-name {
  font-weight: 400;
  color: #fff;
}

.blog-text .author-name span {
  margin-right: 10px;
  font-weight: 600;
}

.blog-block span {
  color: #710004;
}

.section-title {
  color: #fff;
}

.blog-text a{
  color: #fff;
}

.blog-text a:hover{
  color: #710004;
}
