<section id="blog" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 m-auto">
                <div class="section-heading">
                    <h4 class="section-title">Latest Blog news</h4>
                    <div class="line"></div>
                    <p>There are some articles that we think you should know about before space travel.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="blog-block ">
                    <div class="blog-text">
                        <h6 class="author-name"><span>Tips and tricks</span>Stefanie Waldek</h6>
                        <a href="https://www.travelandleisure.com/trip-ideas/space-astronomy/what-space-tourists-should-know-before-traveling-to-space-according-to-astronauts" target="_blank" class="h5 d-inline-block">
                           Things you should know before space travel
                        </a>
                        <p>Space Travel isn't something that happen everyday so there are some tips before first flight.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="blog-block ">
                    <div class="blog-text">
                        <h6 class="author-name"><span>Simulators</span>John Smith</h6>
                        <a href="#" target="_blank" class="h5 d-inline-block">
                            Space flight simulator
                        </a>
                        <p>Before your first flight you can test your limits in Space Flight Simulator. There are so many points in every country where you can do it!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="blog-block ">
                    <div class="blog-text">
                        <h6 class="author-name"><span>Space News</span>NASA</h6>
                        <a href="#" target="_blank"  class="h5 d-inline-block">
                            New form of life
                        </a>
                        <p>Something weird has been noticed in last exploration. It can be new form of life on Jupiter. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
